*node_modules/
*.swp
npm-debug.log
.DS_Store
sistema/modelagem/node_modules/
sistema-autenticacao-basica/modelagem/node_modules/
sistema-banco-atomico/modelagem/node_modules/
sistema-mongoose-atomico-promises-events/modelagem/node_modules/
sistema-testes-atomicos/modelagem/node_modules/
Apostila/module-nodejs/src/node_modules/
Apostila/module-nodejs/src/pokemons-api/node_modules/