html body select {
  display: inline-block;
}
[disabled] {
  background-color: #ccc !important;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.menu li {
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
}
.animate {
  transition: all linear 0.5s;
}
.ng-hide {
  height: 0;
}
.item.ng-enter {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-move {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.item.ng-enter {
  opacity:0;
}
.item.ng-leave {
  opacity:1;
  height: 100px;
}
.item.ng-leave.ng-leave-active {
  opacity:0;
  height: 0;
}

.item.ng-move {
  opacity: 0;
}
.item.ng-move.ng-move-active  {
  opacity: 1;
}

.item.ng-enter.ng-enter-active {
  color: #4CAF50;  /* .green */
  font-weight: bold;
  font-size: 1.2rem;
  opacity:1;
}
.atom-titulo {
  color : #D0BB00;
  font-size : 80px;
  text-align : center;
}
.atom-logo {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.bold {
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
}