.btn:focus
{
    outline: 0; !important
}
.btn
{
    border-radius: 35px;
    outline: 0; !important
}
.btn-danger
{
    border-color: #d9534f;
    background-color: #d9534f;
}

.navbar-default
{
    border: none;
    border-radius: none;
    background-color: #1abc9c;
}
.navbar-default .navbar-nav > li > a
{
    color: #fff;
}
.navbar-default .navbar-brand
{
    color: #fff;
}
.navbar
{
    border-radius: 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
{
    color: #fff;
    background-color: #16a085;
}
.navbar-default .navbar-toggle
{
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}
.navbar-toggle .icon-bar
{
    display: block;

    width: 22px;
    height: 2px;

    border-radius: 26px;
}
.navbar-toggle
{
    border: 5px solid transparent;
    border-radius: 35px;
}
.btn-danger:hover
{
    color: #fff;
    border-color: #e74c3c;
    background-color: #e74c3c;
}
.btn-primary
{
    color: #fff;
    border-color: #2980b9;
    background-color: #2980b9;
}
.btn-primary:hover
{
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form
{
    border-color: #2abb9b;
}
@media (max-width: 767px)
{
    .navbar-nav .open .dropdown-menu
    {
        position: static;

        float: none;

        width: auto;
        margin-top: 0;

        border: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
    {
        color: #fff;
        background-color: #16a085;
    }
}
