<div class="container">
	<div class="row">
		<!-- the search form bootstrap -->
		<div class="col-sm-6">
			<div class="form-group has-feedback">
				<input class="form-control" id="inputSearch" ng-model="search" placeholder="Search">
				<i class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<!-- the button that creating a new student -->
		<div class="col-sm-2 col-sm-offset-4">
			<a class="btn btn-default" ng-href="#/student-create"><i class="fa fa-plus square-o"></i> Criar novo aluno</a>
		</div>
	</div>
	<!-- the table to list all student -->
	<table class="table table-striped">
		<caption class="text-center"><h3><i class="fa fa-list-alt"></i> Lista de estudantes </h3></caption>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Endereço - Rua</th>
				<th>Endereço - Bairro</th>
				<th>Professor</th>
				<th class="text-center">Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in studentCtrl.students | filter:search">
				<td>{{student.name}}</td>
				<td>{{student.surname}}</td>
				<td>{{student.address.street}}</td>
				<td>{{student.address.district}}</td>
				<td>{{student.teacher}}</td>
				<td class="text-center">
					<div class="btn-group">
						<button ng-click="studentCtrl.remove(student)"class="btn btn-danger"><i class="fa fa-remove"></i> Remover </button>
						<a class="btn btn-default" ng-href="#/student-profile/{{student._id}}"><i class="fa fa-eye"></i> Ver perfil</a>
						<a class="btn btn-primary" ng-href="#/student/{{student._id}}"><i class="fa fa-edit"></i> Editar</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
