<div class="container">
		<div ng-show="message" class="alert alert-info" role="alert">
			<h2 class="text-center"><i class="fa fa-info-circle"></i> {{message.text}}</h2>
		</div>
	<div class="col-md-offset-2">
		<form class="form-horizontal" ng-submit="studentCtrl.save()">
			<div class="form-group">
				<label for="inputName3" class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-6">
					<input type="text" ng-model="studentCtrl.student.name" class="form-control" id="inputName3" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputSurname3" class="col-sm-2 control-label">Sobrenome</label>
				<div class="col-sm-6">
					<input type="text" ng-model="studentCtrl.student.surname" class="form-control" id="inputSurname3" placeholder="Sobrenome">
				</div>
			</div>
			<!-- address's fields -->
			<div class="form-group">
				<label for="inputAddress3" class="col-sm-2 control-label">Endereço</label>
				<div class="col-sm-4">
					<input type="text" ng-model="studentCtrl.student.address.street" class="form-control" id="inputAddress3" placeholder="Rua">
				</div>
				<div class="col-sm-2">
					<input type="text" ng-model="studentCtrl.student.address.district" class="form-control" id="inputAddress3" placeholder="Bairro">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-2">
					<input type="text" ng-model="studentCtrl.student.address.city"class="form-control" id="inputAddress3" placeholder="Cidade">
				</div>
				<div class="col-sm-2 ">
					<input type="text" ng-model="studentCtrl.student.address.state"class="form-control" id="inputAddress3" placeholder="Estado">
				</div>
				<div class="col-sm-2 ">
					<input type="text" ng-model="studentCtrl.student.address.telephone" class="form-control" id="inputAddress3" placeholder="Telefone">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-2">
					<button class="btn btn-default"><i class="fa fa-plus"></i> Adicionar mais um endereço</button>
				</div>
			</div>
			<!-- end of address field -->

			<!-- button-submit field and group -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><i class="fa fa-cloud"></i> Salvar dados</button>
				</div>
			</div>
		</form>
	</div>
</div>
